table, th, td {
  border: 1px solid rgb(24, 49, 50);
  border-collapse: collapse;
}
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(2, 43, 45);
}
h4 {
  color: rgb(24, 49, 50);
  font-style: italic;
}
#screenshot {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}
#visualDesignGuide {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
#desktopRedesign {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
#tabletRedesign {
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}
#phoneRedesign {
  width: 40%;
  padding-left: 30%;
  padding-right: 30%;
}
#webpage {
  display: flex;
  flex-direction: column;
}
#title {
  color: #0E79F3;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
#topContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#floatingButtons {
  display: flex;
  top: 0;
  right: 0;
  width: 50%;
  gap: 20px;
  align-self: flex-end;
  justify-content: flex-end;
}
.greyButtonText {
  display: inline-block;
  color: #808487;
  flex: 1;
  padding: 10px;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}
.greyButtonText:hover {
  color: #47494A;
}
#buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
}
.Column1 {
  display: flex;
  justify-content: center;
  border-left: 1px solid #808487;
  border-right: 1px solid #808487;
  box-sizing: border-box;
  width: 12vw;
  word-wrap: break-word;
}
.Column2 {
  display: flex;
  justify-content: center;
  border-left: 1px solid #808487;
  border-right: 1px solid #808487;
  box-sizing: border-box;
  width: 20vw;
  word-wrap: break-word;
}
.Column3 {
  display: flex;
  justify-content: center;
  border-left: 1px solid #808487;
  border-right: 1px solid #808487;
  box-sizing: border-box;
  width: 12vw;
  word-wrap: break-word;
}
.Column4 {
  display: flex;
  justify-content: center;
  border-left: 1px solid #808487;
  border-right: 1px solid #808487;
  box-sizing: border-box;
  width: 20vw;
  word-wrap: break-word;
}
.Column5 {
  display: flex;
  justify-content: center;
  border-left: 1px solid #808487;
  border-right: 1px solid #808487;
  box-sizing: border-box;
  width: 12vw;
  word-wrap: break-word;
}
.blueButtonText {
  color: #0E89EE;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
.blueButtonText:hover {
  color: #063969;
}
#secondRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#thirdRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.orangeButtonText {
  color: #E77F10;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
.orangeButtonText:hover {
  color: #964D04;
}
#invisibleButton {
  visibility: hidden;
}
#imageAndBody {
  margin-top: 25px;
  width: 100%;
}
#catImage {
  display: flex;
  justify-content: center;
}
#catImage img {
  width: 25vw;
  height: 33vw;
}
#textBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.redText {
  color: #FF0606;
  font-weight: bold;
}
.blueLinkText {
  color: #0E89EE;
  text-decoration: underline;
  cursor: pointer;
}
.blueLinkText:hover {
  color: #063969;
}
#webAccessibility {
  margin-top: 1%;
}
#webAccessibility img {
  border-radius: 50%;
}
#webAccessibility img:hover {
  border: 1px solid #063969;
  box-sizing: border-box;
}
@media only screen and (max-width: 400px) and (max-height: 700px) {
  #title {
    font-size: 24px;
  }
  .greyButtonText {
    font-size: 10px;
  }
  .blueButtonText {
    font-size: 10px;
  }
  .orangeButtonText {
    font-size: 10px;
  }
  .Column1 {
    margin-bottom: 9px;
  }
  .Column2 {
    margin-bottom: 9px;
  }
  .Column3 {
    margin-bottom: 9px;
  }
  .Column4 {
    margin-bottom: 9px;
  }
  .Column5 {
    margin-bottom: 9px;
  }
  #webpage {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  #imageAndBody {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  #textBody {
    font-size: 9px;
  }
  #webAccessibility img {
    width: 30px;
  }
}
@media only screen and (min-width: 700px) {
  #title {
    font-size: 32px;
  }
  .greyButtonText {
    font-size: 12px;
  }
  .blueButtonText {
    font-size: 12px;
  }
  .orangeButtonText {
    font-size: 12px;
  }
  .Column1 {
    margin-bottom: 12px;
  }
  .Column2 {
    margin-bottom: 12px;
  }
  .Column3 {
    margin-bottom: 12px;
  }
  .Column4 {
    margin-bottom: 12px;
  }
  .Column5 {
    margin-bottom: 12px;
  }
  #textBody {
    font-size: 12px;
  }
  #webpage {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  #imageAndBody {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  #webAccessibility img {
    width: 40px;
  }
}
@media only screen and (min-width: 850px) {
  #title {
    font-size: 36px;
  }
  .greyButtonText {
    font-size: 14px;
  }
  .blueButtonText {
    font-size: 14px;
  }
  .orangeButtonText {
    font-size: 14px;
  }
  .Column1 {
    margin-bottom: 15px;
  }
  .Column2 {
    margin-bottom: 15px;
  }
  .Column3 {
    margin-bottom: 15px;
  }
  .Column4 {
    margin-bottom: 15px;
  }
  .Column5 {
    margin-bottom: 15px;
  }
  #textBody {
    font-size: 14px;
  }
  #webpage {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  #imageAndBody {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  #webAccessibility img {
    width: 50px;
  }
}
